* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 16px;
}

.floor {
  display: flex;
  gap: 16px;
  border-top: 1px solid lightgray;
}

.floor:last-child {
  border-bottom: 1px solid lightgray;
}

.cell {
  width: 128px;
  height: 128px;
  border-right: 2px solid lightgray;
  border-left: 2px solid lightgray;
}

.elevators {
  position: relative;
  display: flex;
  gap: 20px;
  bottom: 129px;
  left: 2px;
  pointer-events: none;
}

.elevator {
  width: 124px;
  height: 129px;
  background-color: cyan;
  display: flex;
  justify-content: center;
  padding: 8px;
}

.elevator__info {
  border-radius: 4px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 4px 16px;
  align-self: baseline;
  display: flex;
  gap: 4px;
  align-items: baseline;
  font-weight: bold;
}

.call__box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button {
  border-radius: 4px;
  border: 2px solid #3d5a80;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button__inner {
  border-radius: 50%;
  border: 2px solid #3d5a80;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__dot {
  background-color: #3d5a80;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.button:hover .button__inner,
.button.active .button__inner {
  border-color: #ff6933;
}

.button:hover .button__dot,
.button.active .button__dot {
  background-color: #ff6933;
}

.button.active {
  border-color: #ff6933;
}

.opacity {
  animation: Opacity 2s infinite backwards;
}

@keyframes Opacity {
  from {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}
