* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 16px;
  overflow-x: auto;
}

:root {
  --cellSize: 96px;
}

.floors {
  width: max-content;
  position: absolute;
  margin-bottom: 100px;
}
.floor {
  display: flex;
  gap: calc(var(--cellSize) / 8);
  border-top: 1px solid lightgray;
}

.floor:last-child {
  border-bottom: 1px solid lightgray;
}

.cell {
  min-width: var(--cellSize);
  aspect-ratio: 1;
  border-right: 2px solid lightgray;
  border-left: 2px solid lightgray;
}

.elevators {
  position: absolute;
  display: flex;
  gap: calc(var(--cellSize) / 8 + 4px);
  bottom: 0;
  left: 2px;
  pointer-events: none;
}

.elevator {
  min-width: calc(var(--cellSize) - 4px);
  min-height: calc(var(--cellSize) + 1px);
  background-color: cyan;
  display: flex;
  justify-content: center;
  padding: calc(var(--cellSize) / 8);
}

.elevator__info {
  font-size: 14px;
  border-radius: 4px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 4px calc(var(--cellSize) / 8);
  align-self: baseline;
  display: flex;
  gap: 4px;
  align-items: baseline;
  font-weight: bold;
}

.call__box {
  display: flex;
  flex-direction: column;
  gap: calc(var(--cellSize) / 8);
  padding-right: 64px;
}

.button {
  border-radius: 4px;
  border: 1px solid #3d5a80;
  width: calc(var(--cellSize) / 4);
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button__inner {
  border-radius: 50%;
  border: 1px solid #3d5a80;
  width: calc(var(--cellSize) / 8);
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__dot {
  background-color: #3d5a80;
  width: calc(var(--cellSize) / 16);
  aspect-ratio: 1;
  border-radius: 50%;
}

.button:hover .button__inner,
.button.active .button__inner {
  border-color: #ff6933;
}

.button:hover .button__dot,
.button.active .button__dot {
  background-color: #ff6933;
}

.button.active {
  border-color: #ff6933;
}

.opacity {
  animation: Opacity 2s infinite backwards;
}

@keyframes Opacity {
  from {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}

/* @media (max-width: 1920px) {
  :root {
    --cellSize: 128px;
  }
} */

/* @media (max-width: 1280px) {
  :root {
    --cellSize: 112px;
  }
} */

/* @media (max-width: 1024px) {
  :root {
    --cellSize: 96px;
  }
} */

/* @media (max-width: 768px) {
  :root {
    --cellSize: 78px;
  }
} */
